language: python

python:
    - "2.7"
    - "3.9"
    - "3.10"
    - "3.11"
    - "3.12"
    - "3.13"

before_install:
   - pip install cram
   - pip install pytest

install:
    - python setup.py install

script:
    - cram --indent=4 test.cram
    - pytest tests/
